*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body{
    background-color: rgb(90, 64, 160);
    position: relative;
    padding: 50px 0;
    font-family: Roboto, sans-serif;
}
.container{
    position: relative;
}
header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.event span, .gift span{
    border-right: 1px solid rgba(255, 255, 255, .3);
}
.event, .finance, .cafe, .gift, .pets{
    float: left;
    height: 50px;
    width: 70px;
}
.event span, .finance span, .gift span, .pets span{
    height: inherit;
    width: inherit;
    display: inline-block;
    background-repeat: no-repeat;
    background-position:center;
    background-color: rgb(31, 27, 43);
    background-size: 30%;
}
header .event span{
    background-image: url("./img/event.svg");
}
header .finance span{
    background-image: url("./img/finance.svg");
}

.cafe span{
    background-image: url("./img/cafe.svg");
    z-index: 1;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
    width: 80px;
    height: 60px;
    background-color: black;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 30%;
}
.cafe{
    position: relative;
}
header .gift span{
    background-image: url("./img/gift.svg");
    z-index: -1;
}
header .pets span{
    background-image: url("./img/pets.svg");
}

.section{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
}
.hero{
    width: 300px;
    height: 150px;
    background-image: url("./img/food.jpg");
    background-repeat: no-repeat;
    background-position: 90% 60%;
    background-size: 100%;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.place{
    bottom: 0;
}
.food{
    bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.place, .food{
    overflow: hidden;
    padding: 10px;
    position: absolute;
}
.place .location{
    width: 14px;
    height: 14px;
    float: left;
    background-image: url("./img/location.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.place .location_name{
    float: left;
    font-size: 12px;
    color: white;
    padding-left: 5px;
}
.bdy{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}
.bdy div{
    overflow: hidden;
    padding: 20px 10px;
    color: grey;
    font-size: 14px;
}
.bdy div span:first-child{
    float: left;
}
.bdy div:first-child, .bdy div:nth-child(3){
    border-bottom: 1px solid rgba(128, 128, 128, .6);
}
.bdy div:nth-child(2){
    border: 1px solid rgba(128, 128, 128, .3);
}
.bdy div span:last-child{
    float: right;
}