*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: Roboto, sans-serif;
}
body{
    /* background-color: blue; */
}
.container{
    position: absolute;
    width: 456px;
    height: 350px;
    background-color: #424D84;
    /* margin: 30px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 5px;
}
.chart{
    height: 50%;
    width: 500px;
    margin: 0 0 0 -22px;
    display: flex;
}


.bars_container{
    width: 10%;
    height: 100%;
    /* border: 1px solid white; */
    text-align: center;
}
.bars_container .single_bar{
    height: 80%;
    display: flex;
    align-items: flex-end;
}
.bars_container span{
    color: #AAAFC8;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}
.bars_container div div{
    background-color: #AAAFC8;
    width: 40%;
    margin: 0 auto;
    border-radius: 4px;
}

.bars_container:first-child div div{
    height: 70%;
}
.bars_container:nth-child(2) div div,
.bars_container:nth-child(8) div div{
    height: 90%;
}
.bars_container:nth-child(3) div div{
    height: 40%;
}
.bars_container:nth-child(4) div div,
.bars_container:nth-child(7) div div{
    height: 30%;
}
.bars_container:nth-child(5) div div{
    height: 50%;
}
.bars_container:nth-child(6) div div{
    height: 60%;
    background-color: #3398DC;
}
.bars_container:nth-child(9) div div{
    height: 55%;
}
.bars_container:last-child div div{
    height: 60%;
}

.pie{
    width: 110px;
    height: 110px;
    background-color: brown;
    border-radius: 50%;
    background: conic-gradient(#9B58B6 10%, #2BCD71 0 40%, #3398DC 0 80%, #F39C13 0 100%);
    transform: rotate(-70deg);
    background-color: orange;
}

.small_circle_pie{
    width: 85px;
    height: 85px;
    line-height: 85px;
    border-radius: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(70deg);
    background-color: #424D84;
}

.small_circle_pie span{
    color: #fff;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

.breakdown{
    width: 100%;
    height: 50%;
    padding: 0 20px 20px 20px;
    display: flex;
    align-items: flex-end;
}
.breakdown .details{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #AAAFC8;
    font-size: 15px;
    font-weight: 600;
    margin-left: 50px;
}
.breakdown .details span{
    color: white;
    margin-left: 10px;
}
.details div p:nth-child(2){
    color: #fff;
    padding-top: 5px;
}