*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}
html{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url("../../images/forest-hawaii.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* max-height: 100%; */
    background-position: center;
}
.overlay{
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: green; */
    width: 100%;
}
h1{
    padding-bottom: 10px;
    color: #f00;
    letter-spacing: 5px;
}
header{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}
ul{
    list-style-type: none;
    text-align: left;
    /* background-color: red; */
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
li{
    color: #fff;
    /* background-color: yellow; */
    width: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* padding-left: 50px; */
}
a b{
    color: #fff;
    font-size: 18px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    /* font-weight: 600; */
}

@media only screen and (min-width: 900px){

}