*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
body{
    background-color: rgb(129, 163, 214);
}
.right{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}
.left{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    height: 500px;
    width: 500px;
    position: absolute;
    background-color: black;
}
.header{
    background-color: yellow;
    padding: 20px;
    position: relative;
}

ul{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%); 
    padding-left: 20px;
}
li{
    padding: 0px;
}
.close{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: green;
}

.close div{
    height: 2px;
    width: 15px;
    background-color: red;
    position: absolute;
    right: 0;
}

.close .one{
    transform: rotate(45deg);
}

.close .two{
    transform: rotate(-45deg);
}
.hr{
    position: relative;
    padding: 20px 0;
}
.rule{
    background-color: red;
    width: 40%;
    height: 3px;
}

span{
    position: absolute;
}
.you{
    padding-left: 30px;
    position: relative;
}
.you-msg{
    max-width: 70%;
    /* float: left; */
    background-color: blue;
    position: relative;
    /* border-radius: 5px; */
    /* padding: 20px; */
}
p{
    position: relative;
}
p:before{
    position: absolute;
    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid blue;
    left: -15px;
    /* top: -2px; */
    transform: rotate(45deg);
    margin: 0;
    padding: 0;
    line-height: 50px;
}