*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    .col-1{
        height: 30%;
    }
    .col-2{
        height: 17.5%;
    }
    body{
        background-image: url("./img/background.jpg");
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        background-repeat: no-repeat;
        background-position: 50% 30%;
    }
    .container{
        width: 70%;
        height: 400px;
        box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
        background-color: white;
        padding-top: 10px;
        border-radius: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* Common Styles */
    a{
        display: block;
        text-decoration: none;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img-position{
        height: 100%;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .payment-method, .visa, .master-card, .maestro, .next-step, .progress{
        position: relative;
        padding: 10px 30px;
        font-weight: 900;
        background-color: white;
    }
    /* .payment-method, .visa, .master-card, .maestro, .next-step{
        height: 20%;
    } */
    .visa, .master-card, .maestro{
        border-top: 1px solid rgba(128, 128, 128, .4);
        color: rgba(128, 128, 128, .8);
        font-size: 14px;
    }
    .visa:hover, .master-card:hover, .maestro:hover{
        background-color: rgba(128, 128, 128, .2);
    }
    .master-card{
        color: black;
    }
    .visa-txt, .master-card-txt, .maestro-txt{
        left: 100px;
        transform: translate(0%, -50%);
    }
    .check{
        height: 100%;
        left: initial;
        right: 3%;
        transform: translate(0%, -50%);
        background-image: url("./img/check.svg");
        background-size: 60%;
    }
    /* Payment Method */
    .payment-method{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .payment-method-txt{
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
    }
    .circle{
        background-color: rgba(128, 128, 128, .6);
    }
    .circle, .circle::before, .circle::after{
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
    .circle::before{
        left: -10px;
        content: "";
        background-color: rgba(128, 128, 128, .8);
    }
    .circle::after{
        left: 10px;
        content: "";
        background-color: rgba(128, 128, 128, .4);
    }
    /* Visa */
    .visa-img{
        background-image: url("./img/visa.svg");
    }
    .master-card-img{
        background-image: url("./img/mastercard.svg");
    }
    .maestro-img{
        background-image: url("./img/maestro.svg");
    }
    .next-step{
        background-color: rgb(76, 125, 230);
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .arrow-img{
        position: absolute;
        background-image: url("./img/arrow.svg");
        display: inline-block;
        height: 100%;
        width: 20px;
        margin-left: 40px;
        /* left: 65%; */
        transform: translate(0%, -50%);
        background-size: 80%;
    }
    .next-step:active{
        border-top: 2px solid white
    }

    @media only screen and (min-width: 480px){
        .container{
            width: 400px;
        }
    }