*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

body{
    background-image: url("./img/background.jpg");
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    background-color: red;
}