*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Roboto, sans-serif;
}
body{
    background-color: #FAFAFA;
    padding-top: 20px;
}
#my-arrow{
    top: 30px;
}
.header_1{
    width: 90%;
    margin: 10px auto 30px auto;

}
.header_1 p{
    font-size: 12px;
}
section{
    width: 90%;
    /* height: 300px; */
    border-radius: 5px;
    /* background-color: red; */
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    margin: 20px auto 0 auto;
    padding: 0 20px;
}

.layout_style{
    display: flex;
    justify-content: space-between;
}
.order_tab div{
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    position: relative;
}
.order_tab div::before{
    content: "2";
    position: absolute;
    background-color: #5f86ed;
    color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
.order_tab img{
    height: 30px;
    width: 40px;
    line-height: normal;
    vertical-align: middle;
    /* object-fit: contain; */
    background-color: #fff;
}
.section_1 > div{
    padding: 15px 0;
    margin: 5px 0;
    /* background-color: green; */
}
.section_1 > .order_tab{
    align-items: center;
}
.section_1 .purchase_order p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .904em;
}
.section_1 .order_tab, .section_1 .purchase_order{
    border-bottom: 1px solid #dedede;
}
.section_1 .total{
    font-size: 1.2em;
}
.section_2{
    padding-bottom: 20px;
}
.section_2 h2, .section_3 h2{
    padding: 20px 0;
}
.section_2 form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section_2 form label{
    font-size: .7em;
    color: #ACAAAA;
    padding-bottom: 5px;
    /* font-weight: 900; */
}
.section_2 input{
    border-radius: 4px;
    outline: none;
    border: 2px solid #DEDEDE;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section_2 form> div{
    display: flex;
    flex-direction: column;
    /* margin: 5px 0; */
    margin-bottom: 15px;
    /* background-color: orange; */
    /* padding: 5px 0; */
}
.section_2 form div:first-child{
    width: 100%;
}

/* .section_2 .holder{
    width: 55%;
}
.section_2 .expires, .section_2 .security_number{
    width: 20%;
} */
.section_2 .holder{
    width: 100%;
}
.section_2 .expires, .section_2 .security_number{
    width: 48%;
}
input[type=radio]{
    margin-right: 10px;
}
.section_3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.section_3 div{
    margin: 5px 0;
}
.section_3 label{
    font-size: .90em;
}

footer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin: 0 auto;
}
footer p{
    color: #5F86EE;
}
button{
    outline: none;
    border: none;
    padding: 8px 12px;
    background-color: #5F86ED;
    border-radius: 5px;
    color: #fff;
}
@media only screen and (min-width: 500px){
    /* .section_2 .holder{
        width: 100%;
    }
    .section_2 .expires, .section_2 .security_number{
        width: 48%;
    } */
    .section_2 .holder{
        width: 55%;
    }
    .section_2 .expires, .section_2 .security_number{
        width: 20%;
    }
}

@media only screen and (min-width: 800px){
    body{
        margin: 0 50px;
    }
    .header_1, footer{
        width: 50%;
        margin: 0;
    }
    .section_1{
        width: 35%;
        float: right;
    }
    section{
        margin: 50px 0 0 0;
        width: 60%;
    }
}