*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 90%;
    margin: 0 auto;

}
header p{
    background-color: green;
    font-size: 12px;
}
section{
    width: 90%;
    /* height: 300px; */
    border-radius: 5px;
    background-color: red;
    margin: 10px auto 0 auto;
    padding: 0 20px;
}

.layout_style{
    display: flex;
    justify-content: space-between;
}
.order_tab div{
    background-color: yellow;
}
.order_tab img{
    height: 30px;
    width: 30px;
    line-height: normal;
    vertical-align: middle;
    /* object-fit: contain; */
    background-color: #fff;
}
.section_1 > div{
    padding: 20px 0;
    margin: 5px 0;
    background-color: green;
}
.section_1 > .order_tab{
    align-items: center;
}

.section_2 h2{
    padding: 20px 0;
}
.section_2 form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section_2 form label{
    font-size: .5em;
}
.section_2 form> div{
    display: flex;
    flex-direction: column;
    /* margin: 5px 0; */
    margin-bottom: 15px;
    background-color: orange;
    /* padding: 5px 0; */
}
.section_2 form div:first-child{
    width: 100%;
}

.section_2 .holder{
    width: 60%;
}
.section_2 .expires, .section_2 .security_number{
    width: 15%;
}