*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    /* border: 1px solid black; */
    font-family: Roboto;
}
body{
    background-color: rgb(248, 236, 170);

}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left{
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}
.right{
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.container{
    height: 500px;
    position: absolute;
    width: 70%;
    background-color: #fff;
    /* height: 90vh; */
}
.title{
    padding: 50px 20px;
    /* background-color: blue; */
    height: 80%;
    color: #fff;
}
.title p, .title h1{
    color: #fff;
}
.title p{
    font-size: 24px;
}
.one{
    background-color: #5e585e;
    float: left;
    width: 40%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}

.two{
    background-color: #ffffff;
    margin-left: 40%;
    height: 100%;
}

.hr{
    width: 15%;
    height: 5px;
    background-color: rgb(238, 98, 98);
    margin-top: 10px;
}
.about{
    position: absolute;
    bottom: 0;
    height: 20%;
    /* width: 100%; */
    /* background-color: #fff; */
    padding: 25px 25px;
}
.img{
    height: 50px;
    width: 50px;
    background-image: url("./img/avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
    /* margin: 0 auto; */
    /* position: absolute; */
    /* margin-left: 50px; */
}

.name{
    color: #fff;
    
    width: 200px;
    position: absolute;
    margin-left: 100px;
}
.text{
    height: 80%;
    padding: 50px 20px;
    line-height: 25px;
}
.text p{
    font-size: 20px;
    /* letter-spacing: 1px; */
}
.comment-sect{
    height: 20%;
    position: relative;
}
.hr-1{
    width: 100%;
    height: 10px;
    background: linear-gradient(rgba(238, 235, 235, 0.2), rgba(238, 235, 235, .5));
    box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.2);
    position: absolute;
}
.fl-left{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
    /* padding: 50px 20px; */
}
.fl-right{
    position: absolute;
    width: 100px;
    height: 50px;
    /* padding: 50px 20px; */
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
}

.fl-right span{
    margin-left: 25px;
    position: absolute;
}
.comment{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    position: absolute;
}
.sect{
    position: relative;
    height: 100%;
    /* padding: 50px; */
}
.more{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    /* font-weight: bold; */
    /* position: relative; */
    /* margin-left: 70px; */
}
svg{
    position: absolute;
}